encryption = "age"
[age]
    command = "rage"
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age10c8svc7zlqjuu04sc79wpxezgv68296x5x0v93jxfr3ynplwxqhqyk04lp"

{{ $os := "" }}

[TBD]
    os = {{ $os | quote }}
