{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
    user = {{ .chezmoi.username | quote }}
    email = {{ $email | quote }}
{{- if eq .chezmoi.os "linux" -}}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
{{ $computer := "wsl" }}
    # WSL-specific code
    computer = {{ $computer | quote }}
{{-   end -}}
{{ end }}

    # More stuff
[keepassxc]
    database = {{ joinPath .chezmoi.homeDir "Passwords.kdbx" | quote }}
